---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Jean Carlos, a fullstack software developer from Colombia 🇨🇴.
      <br />
      <br />
      My primary tools of choice includes:
      <ul class="list-inside list-disc">
        <li>JavaScript</li>
        <li>DevExpress</li>
        <li>.NET C#</li>
        <li>SQL Server</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about Venezuelan women.
    </p>
  </div>
</Card>
